APP_HOST=localhost
APP_ENDPOINT_V=/api/v1
APP_ENVIRONMENT=development
APP_PORT=8080

JWT_SECRET=change_me_to_long_random_secret
JWT_ACCESS_TOKEN_MINS=60

# Supabase Transaction Pooler
# NOTE: password [imunisasi_mejan] di-URL-encode menjadi %5Bimunisasi_mejan%5D
DB_POSTGRES_DSN=
postgresql://postgres.ynhtctrrvmvkfskoukso:TA-PA2-PA3-Project@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
DB_POSTGRES_SCHEMA=public
DB_POSTGRES_MAX_IDLE_CONNS=5
DB_POSTGRES_MAX_OPEN_CONNS=20
DB_POSTGRES_MAX_LIFE_TIME=30m
DB_POSTGRES_TIMEOUT=10s

